html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #002A32;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.4em;
    font-weight: 700;
    color: #0D3B66;
}

h2 {
    font-size: 1.3em;
    font-weight: 400;
}

h3 {
    color: #006494;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    text-transform: uppercase;
    font-weight: 300;
}

p, ul, li {
    font-weight: 300;
    line-height: 1.4em
}

a {
    text-decoration: none;
    color: #006494;
}

a:hover {
    color: #731963;
    text-decoration: underline;
}

.button {
    background-color: #006494;
    padding: 18px;
    color: #FEFEFE;
    border-radius: 4px 4px;
    font-size: 1.4em;
    transition: background-color 500ms,
                border-radius 500ms;
}

.button:hover {
    background-color: #731963;
    /*border-radius: 12px 4px;*/
}

/* UNIVERSAL MOBILE STYLING */

@media only screen and (max-width: 800px) {
 
    html {
        font-size: 14px;
    }
    
    h1 {
        font-size: 2.2em;
    }
    
}

/* NAVIGATION BAR */

header {
    position: fixed;
    background-color: white;
    width: 100%;
}

.flex-mobile-nav-container {
    display: none;
}

.flex-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    max-width: 1000px;
    margin: 0 auto;
}

.flex-nav-logo {
    display: flex;
    align-items: center;
}

.flex-nav-logo {
    padding-left: 24px;
}

.flex-nav-logo img {
    height: 2em;
}

.flex-nav-logo p {
    text-transform: uppercase;
    color: #2D2D34;
    font-weight: 300;
    font-size: 1.3em;
}

.flex-nav-logo p span:nth-child(1) {
    color: #002A32;
    font-weight: 600;
}

.flex-nav-container ul {
    display: flex;
    align-items: center;
}

.flex-nav-container li {
    padding-right: 16px;
}

.flex-nav-container li:nth-last-child(1) {
    padding-right: 24px;
}

/* MOBILE NAV STYLING */

@media only screen and (max-width: 800px) { 

    .flex-nav-container {
        display: none;
    }
    
    .flex-mobile-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4em;
    }
    
    .flex-mobile-logo {
        height: 42px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* HERO IMAGE SECTION */

.hero {
    background-color: #E1D6D0;
}

.flex-top-content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.hero .flex-hero-content {
    width: 60%;
    margin: 64px 24px 32px 24px;
}

.hero .flex-hero-content img {
    width: 100%;
    padding-top: 32px;
}

.hero .flex-header-container {
    text-align: center;
    padding-top: 32px;
}

.hero .flex-header-container h1 {
    max-width: 350px;
    margin: 24px 0;
    text-align: left;
}

.hero .flex-header-container h2 {
    text-align: left;
    margin: 24px 0;
    max-width: 270px;
}

.hero .flex-header-container .button {
    max-width: 270px;
    margin: 24px 0;
    
}

/* MOBILE HERO STYLING */

@media only screen and (max-width: 800px) {
    
    
    .flex-top-content-container {
        flex-direction: column;
    }
    
    .hero .flex-hero-content {
        width: 100%;
        margin: 56px 0 0 0;
    }
    
    .hero .flex-hero-content img {
        padding: 0;    
    }
    
    .hero .flex-header-container {
        padding: 0;
        margin: 0 20px;
    }
    
    .hero .flex-header-container h1 {
        margin: 32px 0px;
        max-width: 100%;
    }
    
}


/* 60/40 FIRST SPLIT CONTENT SECTION */

.flex-split-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 0;
}

.flex-left-content {
    margin: 0 24px;
    width: 60%;
}

.flex-left-content img {
    width: 100%;
}

.flex-left-content h1 {
    padding: 32px 0 24px 0;
}

.flex-left-content .quote-attribute {
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
    padding: 32px 0;
}

.flex-column-container {

    display: flex;
    flex-direction: column;
}

.flex-column-content {
    display: flex;
    align-items: flex-start;
}

.flex-column-content:nth-child(odd) {
    background-color: #E1D6D0;
}

.flex-column-image {
    max-width: 33%;
    padding: 16px;
}

.mobile-image {
    display: none;
}

.flex-column-content:nth-child(1) {
    padding-top: 0px;
}

.flex-column-content:nth-last-child(1) {
    padding-bottom: 0px;
}

.flex-column-image img {
    max-width: 100%;
    padding: 0;
}

.flex-column-text {
    align-self: center;
    max-width: 45%;
}

.flex-column-text p,
.flex-column-text h3 {
    margin: 8px 0;
}

.flex-column-text h3 {
    margin-top: 0;
}

.flex-column-text p:nth-last-child(1) {
    margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
    .flex-split-content-container {
        padding: 16px 16px 32px 16px;;
    }
    #hidden-upper-content {
        display: none;
        max-width: 100%;
    }
    
    .flex-column-container {
        align-items: center;
        max-width: 100%;
    }
    
    .flex-column-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 32px; 
        
    }
    
    .mobile-image {
    display: block;
}
    
    .desktop-image {
        display: none;
    }

    
    .flex-column-image {
        max-width: 100%;
        
    }
    .flex-column-text {
        max-width: 100%;
    }
    
    .flex-column-content:nth-child(odd) {
        background-color: white;
    }
    .flex-column-image {
        padding: 0 0 16px 0;
    }
    
    .flex-column-text {
        font-size: 1.2em;
        align-self: flex-start;
        padding-left: 16px;

    }
    .flex-column-text p,
    .flex-column-text h3 {

    }
}

/* GALLERY SECTION STYLING */

.flex-box-lower-container {
    background-color: #E1D6D0;
    padding: 32px 0;
}

.flex-box-lower-container h1 {
    text-align: center;
}
.flex-box-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 72px;
}

.flex-box-item {
    margin: 32px 32px 0px 32px;
    max-width: 25%;
    background-color: #FEFEFE;
    transition: background-color 500ms,
                color 500ms;
}

.flex-box-item:hover h3 {
    color: #FEFEFE;
}

.flex-box-item:hover i {
    color: #FEFEFE;
}

.flex-box-item:hover {
    background-color: #731963;
    color: #FEFEFE;
}

.flex-box-item img {
    width: 100%;
}

.flex-box-text {
    padding: 16px;
    max-width: 80%;
}

.flex-box-text h3,
.flex-box-text h4,
.flex-box-text p {
    margin: 8px 0;
    
}

.flex-box-text h3 {
    margin-top: 0;
    transition: color 500ms;
}

.flex-box-text p {
    margin-bottom: 0;
}

.flex-box-item i {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .flex-box-item {
        max-width: 40%;
    }
}


@media only screen and (max-width: 800px) {
    
    .flex-box-lower-container {
        background-color: white;
    }
    
    .flex-box-lower-container h1 {
        padding-bottom: 16px;
    }
    
    .flex-box-content-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .flex-box-item {
        min-width: 90%;
        margin: 0;
        margin-bottom: 8px;
        background-color: #E1D6D0;
        border: 1px solid black;
    }
    
    .flex-box-item:nth-child(-n+3) {
        margin-bottom: 8px;
    }
    
    .flex-box-item img {
        display: none;
    }
    
    .flex-box-icon-container {
        display: flex;
        justify-content: space-between;
    }
    
    .flex-box-item i {
        display: block;
        color: #006494;
}
    
    
    .flex-box-text {
        max-width: 100%;
        padding: 16px 16px 24px 16px;
    }
    
    .flex-box-text h3 {
        margin: 0;
    }
    
    .flex-box-text h4,
    .flex-box-text p {
        display: none;
        margin: 0;
    }
    
}

/* LOWER VIDEO SECOND SPLIT SECTION */

.flex-split-container {
    padding: 32px 0;
}

.flex-split-container h1 {
    text-align: center;
}

.flex-left-content h2 {
    padding-top: 24px;
}

.flex-left-content p {
    padding-top: 8px;
}

#flex-column-lower {
    
}

@media only screen and (max-width: 800px) {

    .flex-split-content-container {
        margin: 0;
        padding: 16px 0 24px 0;
    }
    .flex-left-content {
        width: 100%;
    }
    
    #flex-column-lower,
    
    #hidden-lower-content {
        display: none;
    }
    
}
/* FOOTER */

footer {
    border-top: 1px solid #E1D6D0;
    margin: 0 auto;
}

footer a {
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

.footer-content ul {
    display: flex;
}

.footer-content li {
    padding-right: 16px;
}

@media only screen and (max-width: 800px) {
    
    .footer-content {
        padding: 16px 0 16px 16px;;
        font-size: 1.4em;
    }
    
    .footer-content ul {
        display: none;
    }
}